target/
.project
.classpath
.settings/
.svn/
bin/
# Intellij
*.ipr
*.iml
../../../../RPConsulting/veronica-api/.idea
out/
.DS_Store
/bootstrap
/dependencies.xml
.java-version
/.metadata/
#IReport
*.jasper

.factorypath